docs/workflows/n8n-workflow-analyse-c.json
{
  "name": "Binance Ingest Analysis",
  "nodes": [
    {
      "parameters": {
        "symbol": "={{ $json.symbol }}",
        "interval": "={{ $json.intervals[1] }}",
        "limit": "={{ $json.limit }}"
      },
      "type": "CUSTOM.binanceKline",
      "typeVersion": 1,
      "position": [
        768,
        -496
      ],
      "id": "b12ca816-52bc-41b5-805b-85e7b60481a1",
      "name": "Kline 1h",
      "credentials": {
        "binanceApi": {
          "id": "tmVGRcPSpJIYsaeS",
          "name": "Binance account"
        }
      }
    },
    {
      "parameters": {
        "symbol": "={{ $json.symbol }}",
        "interval": "={{ $json.intervals[0] }}",
        "limit": "={{ $json.limit }}"
      },
      "type": "CUSTOM.binanceKline",
      "typeVersion": 1,
      "position": [
        768,
        -304
      ],
      "id": "34b3abb7-52ef-45ff-8d83-246560bf4f94",
      "name": "Kline 15m",
      "credentials": {
        "binanceApi": {
          "id": "tmVGRcPSpJIYsaeS",
          "name": "Binance account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/api/ingest/analyze",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($input.item.json) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "029e2ce1-eef3-4006-b185-ee73228bc3f0",
      "name": "API 1H",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1216,
        -496
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/api/ingest/analyze",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($input.item.json) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "d5bf7289-1c6b-4240-addb-ab1f036b5676",
      "name": "API 15m",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1216,
        -304
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Transform BinanceKline output to IngestRequest\nconst data = $input.item.json;\n\nreturn {\n  data: {\n    symbol: data.symbol,\n    interval: data.interval,\n    limit: data.limit,\n    currentPrice: data.currentPrice,\n    klineCount: data.klineCount,\n    klines: data.klines,\n    fetchedAt: data.fetchedAt\n  },\n  parameters: {\n    rsi_period: 14,\n    macd_fast: 12,\n    macd_slow: 26,\n    macd_signal: 9\n  }\n};"
      },
      "id": "ab870650-ef50-406c-bc37-f2283ed2b819",
      "name": "Transform 1H data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        -496
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Transform BinanceKline output to IngestRequest\nconst data = $input.item.json;\n\nreturn {\n  data: {\n    symbol: data.symbol,\n    interval: data.interval,\n    limit: data.limit,\n    currentPrice: data.currentPrice,\n    klineCount: data.klineCount,\n    klines: data.klines,\n    fetchedAt: data.fetchedAt\n  },\n  parameters: {\n    rsi_period: 14,\n    macd_fast: 12,\n    macd_slow: 26,\n    macd_signal: 9\n  }\n};"
      },
      "id": "c5dad24f-8429-4792-875c-207b0d353d7a",
      "name": "Transform 15m Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        -304
      ]
    },
    {
      "parameters": {
        "symbol": "={{ $json.symbol }}",
        "interval": "={{ $json.intervals[2] }}",
        "limit": "={{ $json.limit }}"
      },
      "type": "CUSTOM.binanceKline",
      "typeVersion": 1,
      "position": [
        768,
        -112
      ],
      "id": "fd9988eb-869e-438e-8d52-1a509a3154f4",
      "name": "Kline 4h",
      "credentials": {
        "binanceApi": {
          "id": "tmVGRcPSpJIYsaeS",
          "name": "Binance account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Transform BinanceKline output to IngestRequest\nconst data = $input.item.json;\n\nreturn {\n  data: {\n    symbol: data.symbol,\n    interval: data.interval,\n    limit: data.limit,\n    currentPrice: data.currentPrice,\n    klineCount: data.klineCount,\n    klines: data.klines,\n    fetchedAt: data.fetchedAt\n  },\n  parameters: {\n    rsi_period: 14,\n    macd_fast: 12,\n    macd_slow: 26,\n    macd_signal: 9\n  }\n};"
      },
      "id": "1d7391c1-3dd8-4ffc-9a2c-018aaea8467d",
      "name": "Transform 4h Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        -112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/api/ingest/analyze",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($input.item.json) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "a0641c2d-33d4-4de5-ab6f-3c4024262523",
      "name": "API 4h",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1216,
        -112
      ]
    },
    {
      "parameters": {
        "jsCode": "const analyse_data = [];\nconst first = $input.first().json;\n\nfor (const item of $input.all()) {\n  if (item.json.rsi) {\n  analyse_data.push({\n    interval: item.json.interval,\n    rsi: { ...item.json.rsi },\n    macd: { ...item.json.macd },\n    sma: {...item.json.sma}\n  });\n  }\n}\n\nreturn [\n  {\n    coin: $('Translate to Symbol').first().json.coin,\n    limit: $('Translate to Symbol').first().json.limit,\n    symbol: first.symbol,\n    analyse_data,\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        -304
      ],
      "id": "6363a30d-2997-4961-9ba4-d8ed619474e6",
      "name": "Reformat"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert cryptocurrency day trader with deep expertise in technical analysis, risk management, and multi-timeframe strategy. Analyze the following data for {{ $input.last().json.symbol }} and provide actionable trading insights. You can get the news sentiment for {{ $input.last().json.symbol }} from the `News Sentiment` tool. The current price in USDT for {{ $input.last().json.symbol }} is {{ $input.first().json.currentPrice }} .\n\nThe klines data with interval 1 minute:\n{{ JSON.stringify($input.first().json.klines) }}\n\n## INPUT DATA\n**Symbol:** {{ $input.last().json.symbol }}\n\n### Timeframe 1 ({{ $input.last().json.analyse_data[0].interval }}) - [Short-term/Entry Timing]\n** RSI:**\n- Value: {{ $input.last().json.analyse_data[0].rsi.value }}\n- Signal: {{ $input.last().json.analyse_data[0].rsi.signal }}\n\n** MACD:**\n- Line: {{ $input.last().json.analyse_data[0].macd.macd_line }}\n- Signal Line: {{ $input.last().json.analyse_data[0].macd.signal_line }}\n- Histogram: {{ $input.last().json.analyse_data[0].macd.histogram }}\n- Signal Type: {{ $input.last().json.analyse_data[0].macd.signal_type }}\n- Crossover: {{ $input.last().json.analyse_data[0].macd.crossover }}\n\n** SMA:**\n- SMA 20: {{ $input.last().json.analyse_data[0].sma.sma_20 }}\n- SMA 50: {{ $input.last().json.analyse_data[0].sma.sma_50 }}\n- SMA 200: {{ $input.last().json.analyse_data[0].sma.sma_200 }}\n- Signal: {{ $input.last().json.analyse_data[0].sma.signal }}\n\n---\n\n### Timeframe 2 ({{ $input.last().json.analyse_data[1].interval }}) - [Medium-term/Trend Direction]\n** RSI:**\n- Value: {{ $input.last().json.analyse_data[1].rsi.value }}\n- Signal: {{ $input.last().json.analyse_data[1].rsi.signal }}\n\n** MACD:**\n- Line: {{ $input.last().json.analyse_data[1].macd.macd_line }}\n- Signal Line: {{ $input.last().json.analyse_data[1].macd.signal_line }}\n- Histogram: {{ $input.last().json.analyse_data[1].macd.histogram }}\n- Signal Type: {{ $input.last().json.analyse_data[1].macd.signal_type }}\n- Crossover: {{ $input.last().json.analyse_data[1].macd.crossover }}\n\n** SMA:**\n- SMA 10: {{ $input.last().json.analyse_data[1].sma.sma_10 }}\n- SMA 20: {{ $input.last().json.analyse_data[1].sma.sma_20 }}\n- SMA 50: {{ $input.last().json.analyse_data[1].sma.sma_50 }}\n- Signal: {{ $input.last().json.analyse_data[1].sma.signal }}\n\n---\n\n### Timeframe 3 ({{ $input.last().json.analyse_data[2].interval }}) - [Long-term/Market Bias]\n** RSI:**\n- Value: {{ $input.last().json.analyse_data[2].rsi.value }}\n- Signal: {{ $input.last().json.analyse_data[2].rsi.signal }}\n\n** MACD:**\n- Line: {{ $input.last().json.analyse_data[2].macd.macd_line }}\n- Signal Line: {{ $input.last().json.analyse_data[2].macd.signal_line }}\n- Histogram: {{ $input.last().json.analyse_data[2].macd.histogram }}\n- Signal Type: {{ $input.last().json.analyse_data[2].macd.signal_type }}\n- Crossover: {{ $input.last().json.analyse_data[2].macd.crossover }}\n\n** SMA:**\n- SMA 20: {{ $input.last().json.analyse_data[2].sma.sma_20 }}\n- SMA 50: {{ $input.last().json.analyse_data[2].sma.sma_50 }}\n- SMA 200: {{ $input.last().json.analyse_data[2].sma.sma_200 }}\n- Signal: {{ $input.last().json.analyse_data[2].sma.signal }}\n\n---\n\n## YOUR ANALYSIS TASK\n\n### 1. MULTI-TIMEFRAME CONFLUENCE ANALYSIS\n- **Trend Alignment:** Determine if all three timeframes agree on trend direction (Bullish/Bearish/Neutral/Mixed)\n- **Signal Quality:** Rate the setup as Strong (all align), Moderate (2/3 align), or Weak (conflicting)\n- **Primary Bias:** Identify the dominant trend based on the longest timeframe, using shorter timeframes for entry timing\n\n### 2. INDICATOR SYNTHESIS\n**RSI Analysis:**\n- Identify momentum extremes (<30 oversold, >70 overbought) on any timeframe\n- Look for divergences between price action and RSI\n- Note RSI trend direction (rising/falling momentum)\n\n**MACD Analysis:**\n- Evaluate histogram momentum (expanding = strengthening, contracting = weakening)\n- Prioritize crossover signals on the entry timeframe (shortest)\n- Check for MACD divergences across timeframes\n\n**SMA Analysis:**\n- Determine if price is trading above (bullish) or below (bearish) SMA on each timeframe\n- Identify potential dynamic support/resistance levels\n\n### 3. TRADING DECISION FRAMEWORK\n\n**For LONG Positions (Buy), require:**\n- [ ] Long-term trend bullish (price > SMA on T3, MACD bullish)\n- [ ] Medium-term pullback or consolidation (RSI <50 or near 40, MACD histogram turning positive)\n- [ ] Short-term entry trigger (bullish MACD crossover, RSI bouncing from oversold)\n\n**For SHORT Positions (Sell), require:**\n- [ ] Long-term trend bearish (price < SMA on T3, MACD bearish)\n- [ ] Medium-term rally or consolidation (RSI >50 or near 60, MACD histogram turning negative)\n- [ ] Short-term entry trigger (bearish MACD crossover, RSI rejecting from overbought)\n\n### 4. RISK MANAGEMENT PARAMETERS\n- **Suggested Stop Loss:** Place below recent swing low (longs) or above recent swing high (shorts), or 2-3% from entry\n- **Position Sizing:** Recommend 1-2% risk per trade based on stop distance\n- **Invalidation Conditions:** List specific indicator reversals that would cancel the trade idea\n\n### 5. OUTPUT FORMAT\n\nProvide your analysis in this structure:\n\n**📊 MARKET STRUCTURE:** [Bullish/Bearish/Neutral/Mixed with confidence %]\n\n**🎯 TRADING RECOMMENDATION:** \n- Action: [WAIT / LONG / SHORT / CLOSE POSITION]\n- Entry Zone: [Price range or \"Wait for trigger\"]\n- Stop Loss: [Price or percentage]\n- Target 1 (2:1 R:R): [Price]\n- Target 2 (3:1 R:R): [Price]\n\n**📈 SIGNAL BREAKDOWN:**\n- Confluence Score: [Strong/Moderate/Weak]\n- Key Bullish Factors: [List]\n- Key Bearish Factors: [List]\n- Primary Risk: [Main concern]\n\n**⚠️ RISK WARNING:**\n[Specific conditions that could invalidate the setup or increase risk]\n\n**💡 CONTEXT NOTES:**\n[Crypto-specific considerations: volatility, 24/7 market, news sensitivity, volume confirmation needs]\n\n---\n\n## IMPORTANT GUIDELINES\n\n1. **No Trade is Better Than a Bad Trade:** If signals conflict or confluence is weak, recommend WAITING\n2. **Timeframe Hierarchy:** Respect the trend of the higher timeframe; use lower timeframes only for entry timing\n3. **Crypto Volatility:** Account for 24/7 trading, sudden volatility spikes, and news-driven moves\n4. **Confirmation Required:** Never recommend a trade based on a single indicator; require at least 2-3 confirming factors\n5. **Dynamic Adaptation:** If RSI is extremely overbought (>75) or oversold (<25), prioritize mean reversion over trend following",
        "needsFallback": true,
        "options": {
          "systemMessage": "=Provide your analysis in this structure:\nAnalyse for {{ $input.last().json.symbol }} at {{ $now.format('yyyy-MM-dd HH-mm') }}\n\n**📊 MARKET STRUCTURE:** [Bullish/Bearish/Neutral/Mixed with confidence %]\n\n**🎯 TRADING RECOMMENDATION:** \n- Action: [WAIT / LONG / SHORT / CLOSE POSITION] with confidence % > 70%\n- Entry Zone: [Price range or \"Wait for trigger\"]\n- Stop Loss: [Price or percentage]\n- Target 1 (2:1 R:R): [Price]\n- Target 2 (3:1 R:R): [Price]\n\n**📈 SIGNAL BREAKDOWN:**\n- Confluence Score: [Strong/Moderate/Weak]\n- Key Bullish Factors: [List]\n- Key Bearish Factors: [List]\n- Primary Risk: [Main concern]\n\n**⚠️ RISK WARNING:**\n[Specific conditions that could invalidate the setup or increase risk]\n\n**💡 CONTEXT NOTES:**\n[Crypto-specific considerations: volatility, 24/7 market, news sensitivity, volume confirmation needs]"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2904,
        -376
      ],
      "id": "4cdc3a24-97f1-4e76-80e6-ca4822f2f7d3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $input.last().json.symbol }}-{{ $now.format('yyyyMMddHHmmss') }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        3040,
        -152
      ],
      "id": "84054ea1-5011-49c3-bd0a-8010bbf14aba",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "hXqxifwqyo0KaoX1",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "url": "=http://api:8000/api/news/sentiment/{{ $input.last().json.coin }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        3168,
        -152
      ],
      "id": "f4aa26e1-3b6e-44d5-b92f-68e278048538",
      "name": "News Sentiment"
    },
    {
      "parameters": {
        "conversionOptions": {
          "format": "auto"
        },
        "characterFiltering": {},
        "outputOptions": {
          "outputMode": "binary"
        }
      },
      "type": "CUSTOM.markdownSaver",
      "typeVersion": 1,
      "position": [
        3376,
        -376
      ],
      "id": "ecdae9c0-ec3d-458d-8f89-58e746e4ce4a",
      "name": "Markdown Binary"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/home/node/analyse/AI-{{ $('Reformat').last().json.symbol.toUpperCase() }}-{{ $now.format('yyyyMMddHHmm') }}.md",
        "dataPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        3600,
        -376
      ],
      "id": "538980f4-2316-4204-be9c-1d60e0963937",
      "name": "Write to docs/analyse"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-flash-preview",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2784,
        -152
      ],
      "id": "0ac4d327-3650-4617-9eda-43754080cad4",
      "name": "Trader Main",
      "credentials": {
        "googlePalmApi": {
          "id": "yQBvEEzQX2TcmaLh",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-pro-preview",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2912,
        -152
      ],
      "id": "ce053e0f-f51e-40e3-9515-51170a9c0679",
      "name": "Trader Backup",
      "credentials": {
        "googlePalmApi": {
          "id": "yQBvEEzQX2TcmaLh",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        320,
        -304
      ],
      "id": "679cd77b-e03f-4c53-87ba-b6cf1ebed908",
      "name": "When chat message received",
      "webhookId": "32d400f6-4238-4446-976a-3c76b912526d"
    },
    {
      "parameters": {
        "jsCode": "const coin = $input.first().json.chatInput.toUpperCase();\nconst symbol = coin + 'USDT'; \nconst limit = 500;\nconst intervals = [\n  '15m', // for 15 minutes timeframe\n  '1h', // for 1 hour timeframe\n  '4h', // for 4 hours timeframe\n]\n\nreturn [{\n    coin,\n    symbol,\n    limit,\n    intervals,\n  }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        -304
      ],
      "id": "e04d479c-4edf-44b7-85a4-5c163b14e382",
      "name": "Translate to Symbol"
    },
    {
      "parameters": {
        "url": "=https://fapi.binance.com/fapi/v1/klines?symbol={{ $json.symbol }}&interval=1m&limit=100",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1888,
        -160
      ],
      "id": "464ff25d-bb0d-4770-a60b-e8e3589ee0ff",
      "name": "Future 1m 100"
    },
    {
      "parameters": {
        "url": "=https://fapi.binance.com/fapi/v1/ticker/price?symbol={{ $json.symbol }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1888,
        -448
      ],
      "id": "45075c7f-4627-4543-a554-672f03ef5a5e",
      "name": "Current Price (Future)"
    },
    {
      "parameters": {
        "jsCode": "// openTime\n// open\n// high\n// low\n// close\n// volume\n// closeTime\n// quoteVolume\n// trades\n// takerBuyBaseVolume\n// takerBuyQuoteVolume\nconst data = [];\n\nfor (const item of $input.all()) {\n  const kline = item.json;\n  data.push({\n    openTime: kline[0],\n    open: parseFloat(kline[1]),\n    high: parseFloat(kline[2]),\n    low: parseFloat(kline[3]),\n    close: parseFloat(kline[4]),\n    volume: parseFloat(kline[5]),\n    closeTime: kline[6],\n    quoteVolume: parseFloat(kline[7]),\n    trades: kline[8],\n    takerBuyBaseVolume: parseFloat(kline[9]),\n    takerBuyQuoteVolume: parseFloat(kline[10]),\n  });\n}\n\nreturn [{ \n  klines: [...data],\n  currentPrice: parseFloat($input.first().json.price)\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2336,
        -448
      ],
      "id": "e8899f23-8010-4025-9f16-9888fedf134e",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2112,
        -448
      ],
      "id": "3dde43a9-f170-48bc-a79f-4878a378e513",
      "name": "Merge Data"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1440,
        -320
      ],
      "id": "da380a48-250c-4f7d-8381-19d767528cd3",
      "name": "Merge Indicators"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2560,
        -376
      ],
      "id": "3e73ae7a-ad18-4d07-82d1-bf97e030b390",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "Kline 1h": {
      "main": [
        [
          {
            "node": "Transform 1H data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kline 15m": {
      "main": [
        [
          {
            "node": "Transform 15m Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API 1H": {
      "main": [
        [
          {
            "node": "Merge Indicators",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API 15m": {
      "main": [
        [
          {
            "node": "Merge Indicators",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Transform 1H data": {
      "main": [
        [
          {
            "node": "API 1H",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform 15m Data": {
      "main": [
        [
          {
            "node": "API 15m",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kline 4h": {
      "main": [
        [
          {
            "node": "Transform 4h Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform 4h Data": {
      "main": [
        [
          {
            "node": "API 4h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API 4h": {
      "main": [
        [
          {
            "node": "Merge Indicators",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Reformat": {
      "main": [
        [
          {
            "node": "Future 1m 100",
            "type": "main",
            "index": 0
          },
          {
            "node": "Current Price (Future)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Markdown Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "News Sentiment": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Markdown Binary": {
      "main": [
        [
          {
            "node": "Write to docs/analyse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write to docs/analyse": {
      "main": [
        []
      ]
    },
    "Trader Main": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Trader Backup": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Translate to Symbol",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Translate to Symbol": {
      "main": [
        [
          {
            "node": "Kline 1h",
            "type": "main",
            "index": 0
          },
          {
            "node": "Kline 15m",
            "type": "main",
            "index": 0
          },
          {
            "node": "Kline 4h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Future 1m 100": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Current Price (Future)": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Data": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Indicators": {
      "main": [
        [
          {
            "node": "Reformat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "81948d1f-2a07-455a-811e-9a89bbabeda5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c5132ea42f91439834dd110c2ce2f5a137182faaae992ba119ae691d81f22581"
  },
  "id": "uH9DnyqrS65nDB32",
  "tags": [
    {
      "updatedAt": "2025-12-23T03:07:33.206Z",
      "createdAt": "2025-12-23T03:07:33.206Z",
      "id": "060QEUlc6EGuPlso",
      "name": "fetch"
    },
    {
      "updatedAt": "2025-12-12T09:00:55.594Z",
      "createdAt": "2025-12-12T09:00:55.594Z",
      "id": "4ykO1QsLPSkpVsfq",
      "name": "crypto"
    },
    {
      "updatedAt": "2025-12-12T09:00:43.685Z",
      "createdAt": "2025-12-12T09:00:43.685Z",
      "id": "A7qGk2uBcD5zKvhs",
      "name": "analysis"
    }
  ]
}