docs/workflows/n8n-workflow-analyse-f.json
{
  "name": "Binance Future Analysis",
  "nodes": [
    {
      "parameters": {
        "chatId": "={{ $('Translate to Symbol').item.json.chatId }}",
        "text": "=\ud83d\udd0d Analysing {{ $json.symbol }}...\n\nTimeframes: {{ $json.intervals.join(', ') }}\nProcessing market data and indicators. Please wait.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        -160
      ],
      "id": "ad29e1be-b0dc-4ee0-a0b2-b0b7b02f26f2",
      "name": "Notify Analysis Start",
      "webhookId": "0c768786-24a4-4aa5-81f3-8d8213ea7895",
      "credentials": {
        "telegramApi": {
          "id": "O5JL1UG87JJ1GySx",
          "name": "stix_crypto_freak_bot"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conversionOptions": {
          "format": "auto"
        },
        "characterFiltering": {},
        "outputOptions": {
          "outputMode": "binary"
        }
      },
      "type": "CUSTOM.markdownSaver",
      "typeVersion": 1,
      "position": [
        1584,
        384
      ],
      "id": "e2a9902c-eb97-49c0-bd3d-1c5893e036ce",
      "name": "Markdown Binary"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/home/node/analyse/AI-{{ $('Translate to Symbol').item.json.symbol }}-{{ $now.format('yyyyMMddHHmm') }}.md",
        "dataPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        1808,
        288
      ],
      "id": "57dd4fb1-f0a6-40de-88c5-060a69b26923",
      "name": "Write to docs/analyse",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "availableInChat": true,
        "agentName": "Crypto Analyse",
        "agentDescription": "This is day trader expert for crypto",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -448,
        224
      ],
      "id": "0721980d-4bf6-4006-af91-fbb093605833",
      "name": "When chat message received",
      "webhookId": "5d8f37da-b2bf-4901-b817-8ca02788f59f"
    },
    {
      "parameters": {
        "jsCode": "const raw = ($input.first().json.chatInput || $input.first().json.message?.text || '').trim();\nif (!raw) throw new Error('No coin symbol provided. Send a symbol like BTC, ETH, or SOL.');\n\n// Strip common suffixes if user already typed full pair\nconst coin = raw.toUpperCase().replace(/USDT$/, '').replace(/[^A-Z0-9]/g, '');\nif (!coin) throw new Error('Invalid symbol. Send a coin like BTC, ETH, or SOL.');\n\nconst symbol = coin + 'USDT';\nconst chatId = $input.first().json.message?.chat?.id || '5572228344';\nconst limit = 500;\n\nconst intervals = [\n  '15m', // for 15 minutes timeframe\n  '1h', // for 1 hour timeframe\n  '4h', // for 4 hours timeframe\n];\n\nreturn [{\n    coin,\n    symbol,\n    limit,\n    intervals,\n    chatId\n  }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        128
      ],
      "id": "a7026d7d-d328-4274-842b-222d40558467",
      "name": "Translate to Symbol"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        448,
        208
      ],
      "id": "c022d3e3-40cc-4df7-826e-3e21ffe5443e",
      "name": "Merge Indicators"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "dataIndicators",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        896,
        224
      ],
      "id": "5a465049-c765-4012-b597-3a043aa23d47",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -448,
        32
      ],
      "id": "7e816fc9-71ad-44ab-9aa1-b8cbeca97a8f",
      "name": "My Telegram Channel",
      "webhookId": "1474d42e-9084-48ef-ac45-a4b21168d942",
      "executeOnce": false,
      "credentials": {
        "telegramApi": {
          "id": "O5JL1UG87JJ1GySx",
          "name": "stix_crypto_freak_bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "={{ $('Translate to Symbol').item.json.chatId }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1808,
        480
      ],
      "id": "4fd04aed-20ea-4165-a60f-527993e68fda",
      "name": "Send a document",
      "webhookId": "68cabebe-d0d8-41b1-8719-f51a48bbd02b",
      "alwaysOutputData": true,
      "credentials": {
        "telegramApi": {
          "id": "O5JL1UG87JJ1GySx",
          "name": "stix_crypto_freak_bot"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const order = ['15m', '1h', '4h'];\nconst items = $input.all();\nitems.sort((a, b) => order.indexOf(a.json.interval) - order.indexOf(b.json.interval));\nreturn items;"
      },
      "id": "dcf56e24-f8f5-40f1-8444-aabe1a15a616",
      "name": "Sort by Interval",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        224
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "1X1ODf4tA0Vi8SsT",
          "mode": "list",
          "cachedResultUrl": "/workflow/1X1ODf4tA0Vi8SsT",
          "cachedResultName": "Sub-workflow: Binance Kline Analyze"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        224,
        32
      ],
      "id": "9e509ebf-7393-46ec-900c-633b5f1f0636",
      "name": "Analyze 15m"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "1X1ODf4tA0Vi8SsT",
          "mode": "list",
          "cachedResultUrl": "/workflow/1X1ODf4tA0Vi8SsT",
          "cachedResultName": "Sub-workflow: Binance Kline Analyze"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        224,
        224
      ],
      "id": "3f825469-ffb0-4880-8f4c-49096ab88bd8",
      "name": "Analyze 1h",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "1X1ODf4tA0Vi8SsT",
          "mode": "list",
          "cachedResultUrl": "/workflow/1X1ODf4tA0Vi8SsT",
          "cachedResultName": "Sub-workflow: Binance Kline Analyze"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        224,
        416
      ],
      "id": "0f537c59-e6ae-40f6-912b-bb02a3d653f2",
      "name": "Analyze 4h",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  coin: $input.first().json.coin,\n  symbol: $input.first().json.symbol,\n  limit: $input.first().json.limit,\n  interval: $input.first().json.intervals[0]\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        32
      ],
      "id": "d3e99083-13da-4458-b0fd-45e3795e6a04",
      "name": "Interval 15m"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  coin: $input.first().json.coin,\n  symbol: $input.first().json.symbol,\n  limit: $input.first().json.limit,\n  interval: $input.first().json.intervals[2]\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        416
      ],
      "id": "fc804b6f-f491-47ad-9d28-e57564a9141e",
      "name": "Interval 4h"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  coin: $input.first().json.coin,\n  symbol: $input.first().json.symbol,\n  limit: $input.first().json.limit,\n  interval: $input.first().json.intervals[1]\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        224
      ],
      "id": "ae42e6ca-3416-47b2-beb9-45b065b2956f",
      "name": "Interval 1h"
    },
    {
      "parameters": {
        "model": "glm-5"
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1024,
        208
      ],
      "id": "91c0ea82-3482-416d-b3d7-99785449a70c",
      "name": "TA Ollama Model",
      "credentials": {
        "ollamaApi": {
          "id": "URvt83r3fqd9q5Z7",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\"market_regime\": \"bullish\", \"regime_confidence\": 75, \"trend_analysis\": {\"short_term_15m\": \"bullish\", \"medium_term_1h\": \"neutral\", \"long_term_4h\": \"bearish\", \"alignment\": \"mixed\"}, \"key_levels\": {\"support\": [1950.0], \"resistance\": [2050.0]}, \"indicator_signals\": {\"rsi_assessment\": \"RSI at 65 shows moderate bullish momentum but approaching overbought territory\", \"macd_assessment\": \"MACD histogram turning positive with recent bullish crossover\", \"sma_assessment\": \"Price above SMA 20 but below SMA 50 on 15m - neutral\"}, \"confluence_score\": \"moderate\", \"risk_factors\": [\"Diverging timeframes\", \"RSI approaching overbought\"]}",
        "autoFix": false
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        896,
        320
      ],
      "id": "458e2e0e-d74c-4771-86ec-66de730e4e5c",
      "name": "TA Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "## TECHNICAL ANALYSIS REQUEST\n**Symbol:** {{ $json.dataIndicators[0].symbol }}\n**Analysis Time:** {{ $now.format('yyyy-MM-dd HH:mm') }}\n\n---\n\n### Timeframe 1 ({{ $json.dataIndicators[0].interval }}) - [Short-term/Entry Timing]\n** RSI:**\n- Value: {{ $json.dataIndicators[0].rsi.value }}\n- Signal: {{ $json.dataIndicators[0].rsi.signal }}\n\n** MACD:**\n- Line: {{ $json.dataIndicators[0].macd.macd_line }}\n- Signal Line: {{ $json.dataIndicators[0].macd.signal_line }}\n- Histogram: {{ $json.dataIndicators[0].macd.histogram }}\n- Signal Type: {{ $json.dataIndicators[0].macd.signal_type }}\n- Crossover: {{ $json.dataIndicators[0].macd.crossover }}\n\n** SMA:**\n- SMA 10: {{ $json.dataIndicators[0].sma.sma_10 }}\n- SMA 20: {{ $json.dataIndicators[0].sma.sma_20 }}\n- SMA 50: {{ $json.dataIndicators[0].sma.sma_50 }}\n- Signal: {{ $json.dataIndicators[0].sma.signal }}\n\n---\n\n### Timeframe 2 ({{ $json.dataIndicators[1].interval }}) - [Medium-term/Trend Direction]\n** RSI:**\n- Value: {{ $json.dataIndicators[1].rsi.value }}\n- Signal: {{ $json.dataIndicators[1].rsi.signal }}\n\n** MACD:**\n- Line: {{ $json.dataIndicators[1].macd.macd_line }}\n- Signal Line: {{ $json.dataIndicators[1].macd.signal_line }}\n- Histogram: {{ $json.dataIndicators[1].macd.histogram }}\n- Signal Type: {{ $json.dataIndicators[1].macd.signal_type }}\n- Crossover: {{ $json.dataIndicators[1].macd.crossover }}\n\n** SMA:**\n- SMA 20: {{ $json.dataIndicators[1].sma.sma_20 }}\n- SMA 50: {{ $json.dataIndicators[1].sma.sma_50 }}\n- SMA 200: {{ $json.dataIndicators[1].sma.sma_200 }}\n- Signal: {{ $json.dataIndicators[1].sma.signal }}\n\n---\n\n### Timeframe 3 ({{ $json.dataIndicators[2].interval }}) - [Long-term/Market Bias]\n** RSI:**\n- Value: {{ $json.dataIndicators[2].rsi.value }}\n- Signal: {{ $json.dataIndicators[2].rsi.signal }}\n\n** MACD:**\n- Line: {{ $json.dataIndicators[2].macd.macd_line }}\n- Signal Line: {{ $json.dataIndicators[2].macd.signal_line }}\n- Histogram: {{ $json.dataIndicators[2].macd.histogram }}\n- Signal Type: {{ $json.dataIndicators[2].macd.signal_type }}\n- Crossover: {{ $json.dataIndicators[2].macd.crossover }}\n\n** SMA:**\n- SMA 20: {{ $json.dataIndicators[2].sma.sma_20 }}\n- SMA 50: {{ $json.dataIndicators[2].sma.sma_50 }}\n- SMA 200: {{ $json.dataIndicators[2].sma.sma_200 }}\n- Signal: {{ $json.dataIndicators[2].sma.signal }}\n\n---\n\nProvide your structured technical analysis in JSON format.",
        "options": {
          "systemMessage": "You are an expert cryptocurrency technical analyst specializing in multi-timeframe analysis.\n\n## Your Task\nAnalyze the provided technical indicator data for multiple timeframes and produce a structured analysis.\n\n## Timeframe Hierarchy\n- **15m (Short-term)**: Entry timing, immediate momentum\n- **1h (Medium-term)**: Trend direction, swing setups\n- **4h (Long-term)**: Market bias, structural levels\n\n## Analysis Rules\n1. **Timeframe Alignment**: Higher timeframes take precedence for trend direction\n2. **Confluence**: Require at least 2-3 confirming indicators before signaling\n3. **RSI Interpretation**:\n   - <30 = oversold (potential long)\n   - >70 = overbought (potential short)\n   - 30-70 = neutral\n4. **MACD Signals**:\n   - Bullish: Histogram crosses above zero OR bullish divergence\n   - Bearish: Histogram crosses below zero OR bearish divergence\n5. **SMA Analysis**:\n   - Price above SMA = bullish structure\n   - Price below SMA = bearish structure\n   - Golden cross (SMA 50 crosses above SMA 200) = bullish\n   - Death cross (SMA 50 crosses below SMA 200) = bearish\n\n## Output Requirements\nProvide a JSON object with:\n- market_regime: \"bullish\" | \"bearish\" | \"neutral\" | \"mixed\"\n- regime_confidence: 0-100\n- trend_analysis: Breakdown per timeframe\n- key_levels: Support and resistance zones\n- indicator_signals: Your interpretation of RSI, MACD, SMA\n- confluence_score: \"strong\" | \"moderate\" | \"weak\"\n- risk_factors: List of potential risks or conflicting signals\n\nBe precise and data-driven. Use the exact values from the input.",
          "maxIterations": 10,
          "returnIntermediateSteps": false,
          "enableStreaming": true
        },
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1184,
        272
      ],
      "id": "5172f91c-5ad5-4741-ad51-bc2a9237f8e2",
      "name": "TA Agent"
    },
    {
      "parameters": {
        "model": "glm-5"
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1024,
        480
      ],
      "id": "24e4d62c-e1e9-4f08-936f-4276dc7b61d6",
      "name": "News Ollama Model",
      "credentials": {
        "ollamaApi": {
          "id": "URvt83r3fqd9q5Z7",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\"overall_sentiment\": \"bullish\", \"sentiment_score\": 0.65, \"bullish_count\": 5, \"bearish_count\": 2, \"neutral_count\": 3, \"key_headlines\": [\"Bitcoin ETF inflows hit $500M in single day\", \"Major bank announces crypto custody service\"], \"market_impact\": \"medium\", \"sentiment_trend\": \"improving\", \"summary\": \"Positive news momentum with institutional adoption themes dominating\"}",
        "autoFix": false
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        896,
        592
      ],
      "id": "8e795626-e040-473d-93eb-8bbcca209897",
      "name": "News Output Parser"
    },
    {
      "parameters": {
        "toolDescription": "Given the list of articles about crypto coin like BTC, ETH, SOL, etc. The articles are with their sentiment.\n",
        "url": "=http://api:8000/api/news/sentiment/{{ $('Translate to Symbol').item.json.coin }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        768,
        688
      ],
      "id": "13ede183-4dc7-4472-abda-08a805b749ac",
      "name": "News Sentiment Tool"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "## NEWS SENTIMENT ANALYSIS REQUEST\n**Coin:** {{ $json.coin }}\n**Symbol:** {{ $json.symbol }}\n**Analysis Time:** {{ $now.format('yyyy-MM-dd HH:mm') }}\n\nAnalyze the news sentiment data for {{ $json.coin }} ({{ $json.symbol }}).\n\nUse the News Sentiment Tool to fetch the latest news articles and their sentiment.\n\nProvide your structured sentiment analysis in JSON format.",
        "options": {
          "systemMessage": "You are an expert cryptocurrency news analyst specializing in sentiment analysis and market impact assessment.\n\n## Your Task\nAnalyze the provided news articles and sentiment data for a given cryptocurrency and produce a structured assessment.\n\n## Analysis Framework\n1. **Sentiment Classification**:\n   - bullish: Positive price-moving news (partnerships, adoption, institutional interest, buy signals)\n   - bearish: Negative price-moving news (regulatory concerns, hacks, selling pressure)\n   - neutral: Informational news without clear price impact\n\n2. **Scoring**:\n   - sentiment_score: -1 (very bearish) to +1 (very bullish)\n   - Use weighted average based on source credibility and recency\n\n3. **Market Impact Assessment**:\n   - high: Major announcements, regulatory news, large-scale adoption\n   - medium: Product launches, partnerships, market updates\n   - low: General news, social media discussions\n\n4. **Trend Analysis**:\n   - improving: More positive news than negative recently\n   - declining: More negative news than positive recently\n   - stable: Balanced news flow\n\n## Output Requirements\nProvide a JSON object with:\n- overall_sentiment: \"bullish\" | \"bearish\" | \"neutral\"\n- sentiment_score: -1.0 to 1.0\n- bullish_count: number of bullish articles\n- bearish_count: number of bearish articles\n- neutral_count: number of neutral articles\n- key_headlines: Most impactful headlines (up to 5)\n- market_impact: \"high\" | \"medium\" | \"low\"\n- sentiment_trend: \"improving\" | \"declining\" | \"stable\"\n- summary: 1-2 sentence overview\n\nBe precise and base your analysis on the actual data provided.",
          "maxIterations": 10,
          "returnIntermediateSteps": false,
          "enableStreaming": true
        },
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1184,
        544
      ],
      "id": "083b4a4b-fe7b-4b43-8e98-cea8b5bb1f26",
      "name": "News Agent"
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1408,
        416
      ],
      "id": "d29049a2-0b41-49cc-8fba-1fb0bd5d81fd",
      "name": "Merge Analyses"
    },
    {
      "parameters": {
        "jsCode": "// Prepare combined input for Supervisor Agent\nconst allItems = $input.all();\n\nconst taItem = allItems.find(item => item.json.ta_analysis);\nconst newsItem = allItems.find(item => item.json.news_analysis);\n\nconst ta = taItem?.json;\nconst news = newsItem?.json;\n\n// Extract symbol from various possible locations\nconst symbol = ta?.symbol || \n               ta?.dataIndicators?.[0]?.symbol || \n               news?.symbol || \n               \"\";\n\nreturn {\n  json: {\n    symbol: symbol,\n    coin: symbol.replace('USDT', ''),\n    ta_analysis: ta || {},\n    news_analysis: news || {}\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1536,
        416
      ],
      "id": "9b35699d-b0b9-4edb-96e1-b9634b0c75b1",
      "name": "Prepare Supervisor Input"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash"
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2048,
        544
      ],
      "id": "efc530fc-f6c5-4de8-85a1-9f9d6e8ec7d3",
      "name": "Supervisor Gemini Model"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "## TRADING STRATEGY SYNTHESIS\n\nAnalyze the following combined data and produce a comprehensive trading report:\n\n{{ JSON.stringify($json, null, 2) }}\n\nFollow the output format exactly. Produce the final Markdown report.",
        "options": {
          "systemMessage": "You are a Senior Cryptocurrency Trading Strategist with elite expertise in multi-timeframe analysis, sentiment integration, and risk management.\n\n## Your Role\nSynthesize technical analysis and news sentiment into a coherent, actionable trading recommendation.\n\n## Input Data\nYou will receive:\n1. **Technical Analysis** (from TA Agent): Multi-timeframe indicator data with RSI, MACD, SMA analysis\n2. **News Sentiment** (from News Agent): Market sentiment, key headlines, impact assessment\n\n## Output Format\nProduce a comprehensive Markdown report in this exact format:\n\n```\nAnalyse for {SYMBOL} at {TIMESTAMP}\n\n\ud83d\udcca MARKET STRUCTURE: [Bullish/Bearish/Neutral/Mixed with confidence %]\n\n\ud83d\udccb TECHNICAL SUMMARY:\n- Timeframe Alignment: [describe how 15m, 1h, 4h align]\n- Key Levels: Support [list], Resistance [list]\n- RSI: [value] - [signal]\n- MACD: [signal type] - [crossover status]\n- SMA: [price relative to SMAs]\n\n\ud83d\udcf0 SENTIMENT OVERVIEW:\n- Overall: [bullish/bearish/neutral] (score: X.X)\n- Trend: [improving/declining/stable]\n- Key Headlines:\n  - [headline 1]\n  - [headline 2]\n\n\ud83c\udfaf TRADING RECOMMENDATION: \n- Action: [WAIT / LONG / SHORT / CLOSE POSITION]\n- Entry Zone: [Price range or \"Wait for trigger\"]\n- Stop Loss: [Price or percentage]\n- Target 1 (2:1 R:R): [Price]\n- Target 2 (3:1 R:R): [Price]\n\n\ud83d\udca1 SIGNAL BREAKDOWN:\n- Confluence Score: [Strong/Moderate/Weak]\n- Key Bullish Factors: [List 2-3]\n- Key Bearish Factors: [List 2-3]\n- Primary Risk: [Main concern]\n\n\u26a0\ufe0f RISK WARNING:\n[Specific conditions that could invalidate the setup]\n\n\ud83d\udccc CONTEXT NOTES:\n[Crypto-specific: volatility, 24/7 market, news sensitivity]\n```\n\n## Guidelines\n1. **No Trade is Better Than a Bad Trade**: If signals conflict or confluence is weak, recommend WAITING\n2. **Timeframe Hierarchy**: Respect 4h trend, use 1h for entries, 15m for timing\n3. **Sentiment Integration**: Weight news impact appropriately - major news can override technicals\n4. **Risk Management**: Always specify stop loss and risk/reward ratios\n5. **Confirmation**: Require at least 2-3 confirming factors before signaling a trade",
          "maxIterations": 10,
          "returnIntermediateSteps": false,
          "enableStreaming": false
        },
        "hasOutputParser": false
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1856,
        416
      ],
      "id": "20b1cac7-ab93-4870-b8ca-7ff4458731c0",
      "name": "Supervisor Agent"
    },
    {
      "parameters": {
        "toolDescription": "Fetch current price of a cryto symbol (example: BTCUSDT, ETHUSDT, etc.). \n\nExample Output with input ETHUSDT:\n\n [\n  {\n    \"symbol\": \"ETHUSDT\",\n    \"marketType\": \"futures\",\n    \"dataType\": \"markPriceKline\",\n    \"interval\": \"1m\",\n    \"limit\": 1,\n    \"currentPrice\": \"1980.80000000\",\n    \"klineCount\": 1,\n    \"klines\": [\n      {\n        \"openTime\": 1771413360000,\n        \"open\": \"1981.56000000\",\n        \"high\": \"1981.95000000\",\n        \"low\": \"1980.44558140\",\n        \"close\": \"1980.80000000\",\n        \"volume\": \"0\",\n        \"closeTime\": 1771413419999,\n        \"quoteVolume\": \"0\",\n        \"trades\": 32,\n        \"takerBuyBaseVolume\": \"0\",\n        \"takerBuyQuoteVolume\": \"0\"\n      }\n    ],\n    \"fetchedAt\": \"2026-02-18T11:16:41.224Z\"\n  }\n]\n\nAnd the curren price is 1980.80000000",
        "apiSource": "direct",
        "marketType": "futures",
        "symbol": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Symbol', ``, 'string') }}",
        "interval": "1m",
        "limit": 1
      },
      "type": "CUSTOM.binanceKlineTool",
      "typeVersion": 1,
      "position": [
        1920,
        640
      ],
      "id": "92578fda-498d-463c-9a4f-5bda6ed20073",
      "name": "Current Price",
      "credentials": {
        "binanceApi": {
          "id": "tmVGRcPSpJIYsaeS",
          "name": "Binance account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Fetch candlestick/kline data from Binance Spot or USD-M Futures API.\nExample Input: BTCUSDT, ETHUSDT, etc.",
        "apiSource": "direct",
        "marketType": "futures",
        "symbol": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Symbol', ``, 'string') }}",
        "interval": "1m",
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}"
      },
      "type": "CUSTOM.binanceKlineTool",
      "typeVersion": 1,
      "position": [
        2048,
        640
      ],
      "id": "ce48e94d-3798-4f2b-a692-90c4e4a35772",
      "name": "Klines Tool",
      "credentials": {
        "binanceApi": {
          "id": "tmVGRcPSpJIYsaeS",
          "name": "Binance account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Translate to Symbol",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "My Telegram Channel": {
      "main": [
        [
          {
            "node": "Translate to Symbol",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Translate to Symbol": {
      "main": [
        [
          {
            "node": "Interval 15m",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Interval 1h",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Interval 4h",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Analysis Start",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "News Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Interval 15m": {
      "main": [
        [
          {
            "node": "Analyze 15m",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Interval 1h": {
      "main": [
        [
          {
            "node": "Analyze 1h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Interval 4h": {
      "main": [
        [
          {
            "node": "Analyze 4h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze 15m": {
      "main": [
        [
          {
            "node": "Merge Indicators",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze 1h": {
      "main": [
        [
          {
            "node": "Merge Indicators",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze 4h": {
      "main": [
        [
          {
            "node": "Merge Indicators",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Indicators": {
      "main": [
        [
          {
            "node": "Sort by Interval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort by Interval": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "TA Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TA Ollama Model": {
      "ai_languageModel": [
        [
          {
            "node": "TA Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "TA Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "TA Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "News Ollama Model": {
      "ai_languageModel": [
        [
          {
            "node": "News Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "News Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "News Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "News Sentiment Tool": {
      "ai_tool": [
        [
          {
            "node": "News Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "TA Agent": {
      "main": [
        [
          {
            "node": "Merge Analyses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "News Agent": {
      "main": [
        [
          {
            "node": "Merge Analyses",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Analyses": {
      "main": [
        [
          {
            "node": "Prepare Supervisor Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Supervisor Input": {
      "main": [
        [
          {
            "node": "Supervisor Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supervisor Gemini Model": {
      "ai_languageModel": [
        [
          {
            "node": "Supervisor Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Current Price": {
      "ai_tool": [
        [
          {
            "node": "Supervisor Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Klines Tool": {
      "ai_tool": [
        [
          {
            "node": "Supervisor Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supervisor Agent": {
      "main": [
        [
          {
            "node": "Markdown Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown Binary": {
      "main": [
        [
          {
            "node": "Write to docs/analyse",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "bd4af902-c0eb-44ab-9210-9dcf01e46f3a",
  "meta": {
    "instanceId": "c5132ea42f91439834dd110c2ce2f5a137182faaae992ba119ae691d81f22581"
  },
  "id": "U9TjbJahvt3E4XQn",
  "tags": [
    {
      "updatedAt": "2025-12-23T03:07:33.206Z",
      "createdAt": "2025-12-23T03:07:33.206Z",
      "id": "060QEUlc6EGuPlso",
      "name": "fetch"
    },
    {
      "updatedAt": "2025-12-12T09:00:55.594Z",
      "createdAt": "2025-12-12T09:00:55.594Z",
      "id": "4ykO1QsLPSkpVsfq",
      "name": "crypto"
    },
    {
      "updatedAt": "2025-12-12T09:00:43.685Z",
      "createdAt": "2025-12-12T09:00:43.685Z",
      "id": "A7qGk2uBcD5zKvhs",
      "name": "analysis"
    }
  ]
}